/* Los estilos de tu proyecto */
* {
    margin: 0;
    padding: 0;
}

.nab-toggle-left {
    float: left;
    margin: 15px;
}

.hero {
    align-items: center;
    background-image: url('../assets/images/taxi.jpg');
    background-position: center 91%;
    background-size: 100% auto;
    background-repeat: no-repeat;   
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}

.bg-color {
    background-color: #f7b617;
}

.bd-none {
    border: none;
}

.info-mobile {
    color: #fff;
    margin-top: 4em;
    padding: 1em 3em 3em;
    width: 75%;
}

.size-img {
    width: 20%;
}

.phone {
    color: #fff; 
    padding: 2em 1em;
}

.phone-text {
    border: 1px solid #fff;
    display: flex;
    width: 100%;
}

.phone-title {
    padding: 2em;
    text-align: center;
}

.info {
    margin: 2.5em;
}
/* Sección conduce */
.driver {
    background-image: url('../assets/images/conduce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

.driver .text-drive {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 9rem 3rem;
    width: 100%;
}

.font-letter {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
/* Sección tarifas */
.tariff {
    color: #fff;
    padding: 4em 2em;
}

.tariff p {
    margin: 10px 0 30px
}

.tariff .input-style{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    display: inline;
    margin-left: 15px;
    width: 82%;
}

.tariff .mapa {
    border: 1px solid #fff;
    margin-top: 3em;
    padding: 1em;
}

.footer {
    background-color: #2b2b2b; 
    color: #fff; 
    padding: 3em 0;
}

.logo-footer {
    border-bottom: 1px solid #fff; 
    padding: 0 0 1.5em 0;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin: 20px 0;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.info-footer, .icons {
    padding: 2em 0;
}

.footer .apps {
    margin-bottom: 1em;
    width: 95%;
}

.copyright {
    border-top: 1px solid #fff;
    padding-top: 1.5em;
}

@media (min-width:768px) {
    .registry {
        color: #fff;
        margin-top: 51px;
        padding: 0 2.5em 2.5em;
        width: 35%;
    }

    .registry h3 {
        padding: .5em 0 1.5em;
    }
    
    .phone-text {
        width: 75%;
    }

    .driver .text-drive {
        padding-top: 10em;
        width: 35%;
    }

    .tariff {
        padding: 3em;
    }

    .tariff .input-style {
        width: 60%;
    }

    .tariff.mapa {
        margin-top: 1em;
    }

}
